body {
 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}


.container {
  background-color: rgb(239, 235, 15);          
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
  text-align: center;
  color: blue;
}
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: blue;
}
.form-control {
  border: 2px solid blue;
  border-radius: 8px;
}
